<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <a href="https://www.ensta-bretagne.fr">
              <img height="40px" src="/images/logo_ensta-bretagne.jpg">  
            </a>
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-2">
        {% include social.html %}
      </div> -->

      <div class="footer-col right">
        <!-- <p>{{ site.description | escape }}</p> -->
        <a href="https://www.labsticc.fr">
          <img height="40px" src="/images/logo_labsticc.png">
          <img height="25px" class="top" src="/images/logo_cnrs.jpg">
        </a>
      </div>
    </div>

  </div>

</footer>
