<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <a href="https://www.ensta-bretagne.fr" target="_blank">
              <img height="40px" src="/images/logo_ensta-bretagne.jpg">  
            </a>
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

    <div class="footer-col footer-col-2 small-text">
        <a href="https://www.ensta-bretagne.fr" target="_blank">ENSTA Bretagne</br></a>
        2 rue François Verny</br>
        29806 Brest Cedex 09</br>
        Tél. +33 (0)2 98 34 88 00
    </div>

      <div class="footer-col right">
        <a href="https://www.labsticc.fr" target="_blank">
          <img height="40px" src="/images/logo_labsticc.png">
          <img height="25px" class="top" src="/images/logo_cnrs.jpg">
        </a>
      </div>
    </div>

  </div>

</footer>
